    /*
    Flaticon icon font: Flaticon
    Creation date: 21/08/2020 07:58
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-mosque:before { content: "\f100"; }
.flaticon-bibi-heybat-mosque:before { content: "\f101"; }
.flaticon-mosque-1:before { content: "\f102"; }
.flaticon-mosque-2:before { content: "\f103"; }
.flaticon-castle-1:before { content: "\f104"; }
.flaticon-heaven:before { content: "\f105"; }
.flaticon-historic-theatre:before { content: "\f106"; }
.flaticon-bibi-heybat-mosque-1:before { content: "\f107"; }
.flaticon-coliseum:before { content: "\f108"; }
.flaticon-coliseum-1:before { content: "\f109"; }
.flaticon-historical-building:before { content: "\f10a"; }
.flaticon-coliseum-2:before { content: "\f10b"; }
.flaticon-laptop-with-antique-historical-building-on-screen:before { content: "\f10c"; }
.flaticon-elegant-antique-building-shape-with-columns:before { content: "\f10d"; }
.flaticon-old-monument:before { content: "\f10e"; }
.flaticon-temple-of-heaven:before { content: "\f10f"; }
.flaticon-kremlin:before { content: "\f110"; }
.flaticon-university:before { content: "\f111"; }
.flaticon-history:before { content: "\f112"; }
.flaticon-burj-khalifa:before { content: "\f113"; }
.flaticon-monument:before { content: "\f114"; }
.flaticon-eiffel-tower:before { content: "\f115"; }
.flaticon-city-hall:before { content: "\f116"; }
.flaticon-museum:before { content: "\f117"; }
.flaticon-ciudad-mitad-del-mundo:before { content: "\f118"; }
.flaticon-bridges:before { content: "\f119"; }
.flaticon-parthenon:before { content: "\f11a"; }
.flaticon-obelisk:before { content: "\f11b"; }
.flaticon-galata-tower:before { content: "\f11c"; }
.flaticon-hagia-sophia:before { content: "\f11d"; }
.flaticon-temple:before { content: "\f11e"; }
.flaticon-obelisk-1:before { content: "\f11f"; }
.flaticon-statue-of-liberty:before { content: "\f120"; }
.flaticon-taj-mahal:before { content: "\f121"; }
.flaticon-hyderabad-charminar:before { content: "\f122"; }
.flaticon-mosque-3:before { content: "\f123"; }
.flaticon-hagia-sophia-1:before { content: "\f124"; }
.flaticon-galata-tower-1:before { content: "\f125"; }
.flaticon-obelisk-2:before { content: "\f126"; }
.flaticon-empire-state-building:before { content: "\f127"; }
.flaticon-space-needle:before { content: "\f128"; }
.flaticon-millau-viaduct:before { content: "\f129"; }
.flaticon-gate-of-india:before { content: "\f12a"; }
.flaticon-bridge:before { content: "\f12b"; }
.flaticon-bridge-1:before { content: "\f12c"; }
.flaticon-bridge-2:before { content: "\f12d"; }
.flaticon-bridge-3:before { content: "\f12e"; }
.flaticon-bridge-4:before { content: "\f12f"; }
.flaticon-bridge-5:before { content: "\f130"; }
.flaticon-beam:before { content: "\f131"; }
.flaticon-beam-1:before { content: "\f132"; }
.flaticon-beam-2:before { content: "\f133"; }
.flaticon-beam-3:before { content: "\f134"; }
.flaticon-beam-4:before { content: "\f135"; }
.flaticon-block:before { content: "\f136"; }
.flaticon-beam-5:before { content: "\f137"; }
.flaticon-beam-6:before { content: "\f138"; }
.flaticon-concrete-mixer:before { content: "\f139"; }
.flaticon-truck:before { content: "\f13a"; }
.flaticon-cement-truck:before { content: "\f13b"; }
.flaticon-concrete:before { content: "\f13c"; }
.flaticon-concrete-1:before { content: "\f13d"; }
.flaticon-concrete-mixer-1:before { content: "\f13e"; }
.flaticon-bricklayer:before { content: "\f13f"; }
.flaticon-brickwork:before { content: "\f140"; }
.flaticon-mansory:before { content: "\f141"; }
.flaticon-brickwall:before { content: "\f142"; }
.flaticon-brickwall-1:before { content: "\f143"; }
.flaticon-brick:before { content: "\f144"; }
.flaticon-brick-wall:before { content: "\f145"; }
.flaticon-wood-board:before { content: "\f146"; }
.flaticon-board:before { content: "\f147"; }
.flaticon-wood:before { content: "\f148"; }
.flaticon-wood-board-1:before { content: "\f149"; }
.flaticon-plank:before { content: "\f14a"; }
.flaticon-chisel:before { content: "\f14b"; }
.flaticon-wood-1:before { content: "\f14c"; }
.flaticon-saw:before { content: "\f14d"; }
.flaticon-hammer-drill:before { content: "\f14e"; }
.flaticon-diagram:before { content: "\f14f"; }
.flaticon-business-and-finance:before { content: "\f150"; }
.flaticon-tin:before { content: "\f151"; }
.flaticon-can:before { content: "\f152"; }
.flaticon-house:before { content: "\f153"; }
.flaticon-earthquake:before { content: "\f154"; }
.flaticon-earthquake-1:before { content: "\f155"; }
.flaticon-earthquake-2:before { content: "\f156"; }
.flaticon-earthquake-3:before { content: "\f157"; }
.flaticon-seismograph:before { content: "\f158"; }
.flaticon-earthquake-4:before { content: "\f159"; }
.flaticon-graph:before { content: "\f15a"; }
.flaticon-earthquake-5:before { content: "\f15b"; }
.flaticon-earthquake-6:before { content: "\f15c"; }
.flaticon-earthquake-7:before { content: "\f15d"; }
.flaticon-puzzle-pieces:before { content: "\f15e"; }
.flaticon-puzzle:before { content: "\f15f"; }
.flaticon-problem-solving:before { content: "\f160"; }
.flaticon-skill:before { content: "\f161"; }
.flaticon-light-bulb:before { content: "\f162"; }
.flaticon-hypothesis:before { content: "\f163"; }
.flaticon-puzzle-1:before { content: "\f164"; }
.flaticon-idea:before { content: "\f165"; }
.flaticon-idea-1:before { content: "\f166"; }
.flaticon-light-bulb-1:before { content: "\f167"; }
.flaticon-learning:before { content: "\f168"; }
.flaticon-knowledge:before { content: "\f169"; }
.flaticon-analytics:before { content: "\f16a"; }
.flaticon-education:before { content: "\f16b"; }
.flaticon-business:before { content: "\f16c"; }
.flaticon-mapping:before { content: "\f16d"; }
.flaticon-engineer:before { content: "\f16e"; }
.flaticon-model:before { content: "\f16f"; }
.flaticon-engineer-1:before { content: "\f170"; }
.flaticon-work:before { content: "\f171"; }
.flaticon-engineer-2:before { content: "\f172"; }
.flaticon-mapping-1:before { content: "\f173"; }
.flaticon-equipment:before { content: "\f174"; }
.flaticon-construction:before { content: "\f175"; }
.flaticon-worker:before { content: "\f176"; }
.flaticon-compass:before { content: "\f177"; }
.flaticon-clipboard:before { content: "\f178"; }
.flaticon-clipboard-1:before { content: "\f179"; }
.flaticon-maths:before { content: "\f17a"; }
.flaticon-formula:before { content: "\f17b"; }
.flaticon-triangle:before { content: "\f17c"; }
.flaticon-board-1:before { content: "\f17d"; }
.flaticon-analytics-1:before { content: "\f17e"; }
.flaticon-3d-modeling:before { content: "\f17f"; }
.flaticon-3d-model:before { content: "\f180"; }
.flaticon-edit:before { content: "\f181"; }
.flaticon-business-plan:before { content: "\f182"; }
.flaticon-report:before { content: "\f183"; }
.flaticon-laptop:before { content: "\f184"; }
.flaticon-report-1:before { content: "\f185"; }
.flaticon-confetti:before { content: "\f186"; }
.flaticon-live-music:before { content: "\f187"; }
.flaticon-fireworks:before { content: "\f188"; }
.flaticon-celebration:before { content: "\f189"; }
.flaticon-party:before { content: "\f18a"; }
.flaticon-crack:before { content: "\f18b"; }
.flaticon-geological:before { content: "\f18c"; }
.flaticon-broken-house:before { content: "\f18d"; }
.flaticon-cracked-smartphone:before { content: "\f18e"; }
.flaticon-building:before { content: "\f18f"; }
.flaticon-foundation:before { content: "\f190"; }
.flaticon-crane:before { content: "\f191"; }
.flaticon-hurricane:before { content: "\f192"; }
.flaticon-broken-roof:before { content: "\f193"; }
.flaticon-hurricane-1:before { content: "\f194"; }
.flaticon-architecture-and-city:before { content: "\f195"; }
.flaticon-hurricane-2:before { content: "\f196"; }
.flaticon-column:before { content: "\f197"; }
.flaticon-columns:before { content: "\f198"; }
.flaticon-pendulum:before { content: "\f199"; }
.flaticon-ruins:before { content: "\f19a"; }
.flaticon-formula-1:before { content: "\f19b"; }
.flaticon-ruins-1:before { content: "\f19c"; }
.flaticon-sigma:before { content: "\f19d"; }
.flaticon-friction:before { content: "\f19e"; }
.flaticon-physics:before { content: "\f19f"; }
.flaticon-monitor:before { content: "\f1a0"; }
.flaticon-computer:before { content: "\f1a1"; }
.flaticon-3d-printing-software:before { content: "\f1a2"; }
.flaticon-engineering:before { content: "\f1a3"; }
.flaticon-3d-printer:before { content: "\f1a4"; }
.flaticon-mechanics:before { content: "\f1a5"; }
.flaticon-selection:before { content: "\f1a6"; }
.flaticon-mesh:before { content: "\f1a7"; }
.flaticon-mesh-1:before { content: "\f1a8"; }
.flaticon-buildings:before { content: "\f1a9"; }
.flaticon-appartment:before { content: "\f1aa"; }
.flaticon-home:before { content: "\f1ab"; }
.flaticon-office-building:before { content: "\f1ac"; }
.flaticon-measure:before { content: "\f1ad"; }
.flaticon-metal:before { content: "\f1ae"; }
.flaticon-flow:before { content: "\f1af"; }
.flaticon-column-stability-thick:before { content: "\f1b0"; }
.flaticon-plastic-analysis:before { content: "\f1b1"; }
.flaticon-bridge-6:before { content: "\f1b2"; }
    
    $font-Flaticon-mosque: "\f100";
    $font-Flaticon-bibi-heybat-mosque: "\f101";
    $font-Flaticon-mosque-1: "\f102";
    $font-Flaticon-mosque-2: "\f103";
    $font-Flaticon-castle-1: "\f104";
    $font-Flaticon-heaven: "\f105";
    $font-Flaticon-historic-theatre: "\f106";
    $font-Flaticon-bibi-heybat-mosque-1: "\f107";
    $font-Flaticon-coliseum: "\f108";
    $font-Flaticon-coliseum-1: "\f109";
    $font-Flaticon-historical-building: "\f10a";
    $font-Flaticon-coliseum-2: "\f10b";
    $font-Flaticon-laptop-with-antique-historical-building-on-screen: "\f10c";
    $font-Flaticon-elegant-antique-building-shape-with-columns: "\f10d";
    $font-Flaticon-old-monument: "\f10e";
    $font-Flaticon-temple-of-heaven: "\f10f";
    $font-Flaticon-kremlin: "\f110";
    $font-Flaticon-university: "\f111";
    $font-Flaticon-history: "\f112";
    $font-Flaticon-burj-khalifa: "\f113";
    $font-Flaticon-monument: "\f114";
    $font-Flaticon-eiffel-tower: "\f115";
    $font-Flaticon-city-hall: "\f116";
    $font-Flaticon-museum: "\f117";
    $font-Flaticon-ciudad-mitad-del-mundo: "\f118";
    $font-Flaticon-bridges: "\f119";
    $font-Flaticon-parthenon: "\f11a";
    $font-Flaticon-obelisk: "\f11b";
    $font-Flaticon-galata-tower: "\f11c";
    $font-Flaticon-hagia-sophia: "\f11d";
    $font-Flaticon-temple: "\f11e";
    $font-Flaticon-obelisk-1: "\f11f";
    $font-Flaticon-statue-of-liberty: "\f120";
    $font-Flaticon-taj-mahal: "\f121";
    $font-Flaticon-hyderabad-charminar: "\f122";
    $font-Flaticon-mosque-3: "\f123";
    $font-Flaticon-hagia-sophia-1: "\f124";
    $font-Flaticon-galata-tower-1: "\f125";
    $font-Flaticon-obelisk-2: "\f126";
    $font-Flaticon-empire-state-building: "\f127";
    $font-Flaticon-space-needle: "\f128";
    $font-Flaticon-millau-viaduct: "\f129";
    $font-Flaticon-gate-of-india: "\f12a";
    $font-Flaticon-bridge: "\f12b";
    $font-Flaticon-bridge-1: "\f12c";
    $font-Flaticon-bridge-2: "\f12d";
    $font-Flaticon-bridge-3: "\f12e";
    $font-Flaticon-bridge-4: "\f12f";
    $font-Flaticon-bridge-5: "\f130";
    $font-Flaticon-beam: "\f131";
    $font-Flaticon-beam-1: "\f132";
    $font-Flaticon-beam-2: "\f133";
    $font-Flaticon-beam-3: "\f134";
    $font-Flaticon-beam-4: "\f135";
    $font-Flaticon-block: "\f136";
    $font-Flaticon-beam-5: "\f137";
    $font-Flaticon-beam-6: "\f138";
    $font-Flaticon-concrete-mixer: "\f139";
    $font-Flaticon-truck: "\f13a";
    $font-Flaticon-cement-truck: "\f13b";
    $font-Flaticon-concrete: "\f13c";
    $font-Flaticon-concrete-1: "\f13d";
    $font-Flaticon-concrete-mixer-1: "\f13e";
    $font-Flaticon-bricklayer: "\f13f";
    $font-Flaticon-brickwork: "\f140";
    $font-Flaticon-mansory: "\f141";
    $font-Flaticon-brickwall: "\f142";
    $font-Flaticon-brickwall-1: "\f143";
    $font-Flaticon-brick: "\f144";
    $font-Flaticon-brick-wall: "\f145";
    $font-Flaticon-wood-board: "\f146";
    $font-Flaticon-board: "\f147";
    $font-Flaticon-wood: "\f148";
    $font-Flaticon-wood-board-1: "\f149";
    $font-Flaticon-plank: "\f14a";
    $font-Flaticon-chisel: "\f14b";
    $font-Flaticon-wood-1: "\f14c";
    $font-Flaticon-saw: "\f14d";
    $font-Flaticon-hammer-drill: "\f14e";
    $font-Flaticon-diagram: "\f14f";
    $font-Flaticon-business-and-finance: "\f150";
    $font-Flaticon-tin: "\f151";
    $font-Flaticon-can: "\f152";
    $font-Flaticon-house: "\f153";
    $font-Flaticon-earthquake: "\f154";
    $font-Flaticon-earthquake-1: "\f155";
    $font-Flaticon-earthquake-2: "\f156";
    $font-Flaticon-earthquake-3: "\f157";
    $font-Flaticon-seismograph: "\f158";
    $font-Flaticon-earthquake-4: "\f159";
    $font-Flaticon-graph: "\f15a";
    $font-Flaticon-earthquake-5: "\f15b";
    $font-Flaticon-earthquake-6: "\f15c";
    $font-Flaticon-earthquake-7: "\f15d";
    $font-Flaticon-puzzle-pieces: "\f15e";
    $font-Flaticon-puzzle: "\f15f";
    $font-Flaticon-problem-solving: "\f160";
    $font-Flaticon-skill: "\f161";
    $font-Flaticon-light-bulb: "\f162";
    $font-Flaticon-hypothesis: "\f163";
    $font-Flaticon-puzzle-1: "\f164";
    $font-Flaticon-idea: "\f165";
    $font-Flaticon-idea-1: "\f166";
    $font-Flaticon-light-bulb-1: "\f167";
    $font-Flaticon-learning: "\f168";
    $font-Flaticon-knowledge: "\f169";
    $font-Flaticon-analytics: "\f16a";
    $font-Flaticon-education: "\f16b";
    $font-Flaticon-business: "\f16c";
    $font-Flaticon-mapping: "\f16d";
    $font-Flaticon-engineer: "\f16e";
    $font-Flaticon-model: "\f16f";
    $font-Flaticon-engineer-1: "\f170";
    $font-Flaticon-work: "\f171";
    $font-Flaticon-engineer-2: "\f172";
    $font-Flaticon-mapping-1: "\f173";
    $font-Flaticon-equipment: "\f174";
    $font-Flaticon-construction: "\f175";
    $font-Flaticon-worker: "\f176";
    $font-Flaticon-compass: "\f177";
    $font-Flaticon-clipboard: "\f178";
    $font-Flaticon-clipboard-1: "\f179";
    $font-Flaticon-maths: "\f17a";
    $font-Flaticon-formula: "\f17b";
    $font-Flaticon-triangle: "\f17c";
    $font-Flaticon-board-1: "\f17d";
    $font-Flaticon-analytics-1: "\f17e";
    $font-Flaticon-3d-modeling: "\f17f";
    $font-Flaticon-3d-model: "\f180";
    $font-Flaticon-edit: "\f181";
    $font-Flaticon-business-plan: "\f182";
    $font-Flaticon-report: "\f183";
    $font-Flaticon-laptop: "\f184";
    $font-Flaticon-report-1: "\f185";
    $font-Flaticon-confetti: "\f186";
    $font-Flaticon-live-music: "\f187";
    $font-Flaticon-fireworks: "\f188";
    $font-Flaticon-celebration: "\f189";
    $font-Flaticon-party: "\f18a";
    $font-Flaticon-crack: "\f18b";
    $font-Flaticon-geological: "\f18c";
    $font-Flaticon-broken-house: "\f18d";
    $font-Flaticon-cracked-smartphone: "\f18e";
    $font-Flaticon-building: "\f18f";
    $font-Flaticon-foundation: "\f190";
    $font-Flaticon-crane: "\f191";
    $font-Flaticon-hurricane: "\f192";
    $font-Flaticon-broken-roof: "\f193";
    $font-Flaticon-hurricane-1: "\f194";
    $font-Flaticon-architecture-and-city: "\f195";
    $font-Flaticon-hurricane-2: "\f196";
    $font-Flaticon-column: "\f197";
    $font-Flaticon-columns: "\f198";
    $font-Flaticon-pendulum: "\f199";
    $font-Flaticon-ruins: "\f19a";
    $font-Flaticon-formula-1: "\f19b";
    $font-Flaticon-ruins-1: "\f19c";
    $font-Flaticon-sigma: "\f19d";
    $font-Flaticon-friction: "\f19e";
    $font-Flaticon-physics: "\f19f";
    $font-Flaticon-monitor: "\f1a0";
    $font-Flaticon-computer: "\f1a1";
    $font-Flaticon-3d-printing-software: "\f1a2";
    $font-Flaticon-engineering: "\f1a3";
    $font-Flaticon-3d-printer: "\f1a4";
    $font-Flaticon-mechanics: "\f1a5";
    $font-Flaticon-selection: "\f1a6";
    $font-Flaticon-mesh: "\f1a7";
    $font-Flaticon-mesh-1: "\f1a8";
    $font-Flaticon-buildings: "\f1a9";
    $font-Flaticon-appartment: "\f1aa";
    $font-Flaticon-home: "\f1ab";
    $font-Flaticon-office-building: "\f1ac";
    $font-Flaticon-measure: "\f1ad";
    $font-Flaticon-metal: "\f1ae";
    $font-Flaticon-flow: "\f1af";
    $font-Flaticon-column-stability-thick: "\f1b0";
    $font-Flaticon-plastic-analysis: "\f1b1";
    $font-Flaticon-bridge-6: "\f1b2";