	/*
  	Flaticon icon font: Flaticon
  	Creation date: 21/08/2020 07:58
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-mosque:before { content: "\f100"; }
.flaticon-bibi-heybat-mosque:before { content: "\f101"; }
.flaticon-mosque-1:before { content: "\f102"; }
.flaticon-mosque-2:before { content: "\f103"; }
.flaticon-castle-1:before { content: "\f104"; }
.flaticon-heaven:before { content: "\f105"; }
.flaticon-historic-theatre:before { content: "\f106"; }
.flaticon-bibi-heybat-mosque-1:before { content: "\f107"; }
.flaticon-coliseum:before { content: "\f108"; }
.flaticon-coliseum-1:before { content: "\f109"; }
.flaticon-historical-building:before { content: "\f10a"; }
.flaticon-coliseum-2:before { content: "\f10b"; }
.flaticon-laptop-with-antique-historical-building-on-screen:before { content: "\f10c"; }
.flaticon-elegant-antique-building-shape-with-columns:before { content: "\f10d"; }
.flaticon-old-monument:before { content: "\f10e"; }
.flaticon-temple-of-heaven:before { content: "\f10f"; }
.flaticon-kremlin:before { content: "\f110"; }
.flaticon-university:before { content: "\f111"; }
.flaticon-history:before { content: "\f112"; }
.flaticon-burj-khalifa:before { content: "\f113"; }
.flaticon-monument:before { content: "\f114"; }
.flaticon-eiffel-tower:before { content: "\f115"; }
.flaticon-city-hall:before { content: "\f116"; }
.flaticon-museum:before { content: "\f117"; }
.flaticon-ciudad-mitad-del-mundo:before { content: "\f118"; }
.flaticon-bridges:before { content: "\f119"; }
.flaticon-parthenon:before { content: "\f11a"; }
.flaticon-obelisk:before { content: "\f11b"; }
.flaticon-galata-tower:before { content: "\f11c"; }
.flaticon-hagia-sophia:before { content: "\f11d"; }
.flaticon-temple:before { content: "\f11e"; }
.flaticon-obelisk-1:before { content: "\f11f"; }
.flaticon-statue-of-liberty:before { content: "\f120"; }
.flaticon-taj-mahal:before { content: "\f121"; }
.flaticon-hyderabad-charminar:before { content: "\f122"; }
.flaticon-mosque-3:before { content: "\f123"; }
.flaticon-hagia-sophia-1:before { content: "\f124"; }
.flaticon-galata-tower-1:before { content: "\f125"; }
.flaticon-obelisk-2:before { content: "\f126"; }
.flaticon-empire-state-building:before { content: "\f127"; }
.flaticon-space-needle:before { content: "\f128"; }
.flaticon-millau-viaduct:before { content: "\f129"; }
.flaticon-gate-of-india:before { content: "\f12a"; }
.flaticon-bridge:before { content: "\f12b"; }
.flaticon-bridge-1:before { content: "\f12c"; }
.flaticon-bridge-2:before { content: "\f12d"; }
.flaticon-bridge-3:before { content: "\f12e"; }
.flaticon-bridge-4:before { content: "\f12f"; }
.flaticon-bridge-5:before { content: "\f130"; }
.flaticon-beam:before { content: "\f131"; }
.flaticon-beam-1:before { content: "\f132"; }
.flaticon-beam-2:before { content: "\f133"; }
.flaticon-beam-3:before { content: "\f134"; }
.flaticon-beam-4:before { content: "\f135"; }
.flaticon-block:before { content: "\f136"; }
.flaticon-beam-5:before { content: "\f137"; }
.flaticon-beam-6:before { content: "\f138"; }
.flaticon-concrete-mixer:before { content: "\f139"; }
.flaticon-truck:before { content: "\f13a"; }
.flaticon-cement-truck:before { content: "\f13b"; }
.flaticon-concrete:before { content: "\f13c"; }
.flaticon-concrete-1:before { content: "\f13d"; }
.flaticon-concrete-mixer-1:before { content: "\f13e"; }
.flaticon-bricklayer:before { content: "\f13f"; }
.flaticon-brickwork:before { content: "\f140"; }
.flaticon-mansory:before { content: "\f141"; }
.flaticon-brickwall:before { content: "\f142"; }
.flaticon-brickwall-1:before { content: "\f143"; }
.flaticon-brick:before { content: "\f144"; }
.flaticon-brick-wall:before { content: "\f145"; }
.flaticon-wood-board:before { content: "\f146"; }
.flaticon-board:before { content: "\f147"; }
.flaticon-wood:before { content: "\f148"; }
.flaticon-wood-board-1:before { content: "\f149"; }
.flaticon-plank:before { content: "\f14a"; }
.flaticon-chisel:before { content: "\f14b"; }
.flaticon-wood-1:before { content: "\f14c"; }
.flaticon-saw:before { content: "\f14d"; }
.flaticon-hammer-drill:before { content: "\f14e"; }
.flaticon-diagram:before { content: "\f14f"; }
.flaticon-business-and-finance:before { content: "\f150"; }
.flaticon-tin:before { content: "\f151"; }
.flaticon-can:before { content: "\f152"; }
.flaticon-house:before { content: "\f153"; }
.flaticon-earthquake:before { content: "\f154"; }
.flaticon-earthquake-1:before { content: "\f155"; }
.flaticon-earthquake-2:before { content: "\f156"; }
.flaticon-earthquake-3:before { content: "\f157"; }
.flaticon-seismograph:before { content: "\f158"; }
.flaticon-earthquake-4:before { content: "\f159"; }
.flaticon-graph:before { content: "\f15a"; }
.flaticon-earthquake-5:before { content: "\f15b"; }
.flaticon-earthquake-6:before { content: "\f15c"; }
.flaticon-earthquake-7:before { content: "\f15d"; }
.flaticon-puzzle-pieces:before { content: "\f15e"; }
.flaticon-puzzle:before { content: "\f15f"; }
.flaticon-problem-solving:before { content: "\f160"; }
.flaticon-skill:before { content: "\f161"; }
.flaticon-light-bulb:before { content: "\f162"; }
.flaticon-hypothesis:before { content: "\f163"; }
.flaticon-puzzle-1:before { content: "\f164"; }
.flaticon-idea:before { content: "\f165"; }
.flaticon-idea-1:before { content: "\f166"; }
.flaticon-light-bulb-1:before { content: "\f167"; }
.flaticon-learning:before { content: "\f168"; }
.flaticon-knowledge:before { content: "\f169"; }
.flaticon-analytics:before { content: "\f16a"; }
.flaticon-education:before { content: "\f16b"; }
.flaticon-business:before { content: "\f16c"; }
.flaticon-mapping:before { content: "\f16d"; }
.flaticon-engineer:before { content: "\f16e"; }
.flaticon-model:before { content: "\f16f"; }
.flaticon-engineer-1:before { content: "\f170"; }
.flaticon-work:before { content: "\f171"; }
.flaticon-engineer-2:before { content: "\f172"; }
.flaticon-mapping-1:before { content: "\f173"; }
.flaticon-equipment:before { content: "\f174"; }
.flaticon-construction:before { content: "\f175"; }
.flaticon-worker:before { content: "\f176"; }
.flaticon-compass:before { content: "\f177"; }
.flaticon-clipboard:before { content: "\f178"; }
.flaticon-clipboard-1:before { content: "\f179"; }
.flaticon-maths:before { content: "\f17a"; }
.flaticon-formula:before { content: "\f17b"; }
.flaticon-triangle:before { content: "\f17c"; }
.flaticon-board-1:before { content: "\f17d"; }
.flaticon-analytics-1:before { content: "\f17e"; }
.flaticon-3d-modeling:before { content: "\f17f"; }
.flaticon-3d-model:before { content: "\f180"; }
.flaticon-edit:before { content: "\f181"; }
.flaticon-business-plan:before { content: "\f182"; }
.flaticon-report:before { content: "\f183"; }
.flaticon-laptop:before { content: "\f184"; }
.flaticon-report-1:before { content: "\f185"; }
.flaticon-confetti:before { content: "\f186"; }
.flaticon-live-music:before { content: "\f187"; }
.flaticon-fireworks:before { content: "\f188"; }
.flaticon-celebration:before { content: "\f189"; }
.flaticon-party:before { content: "\f18a"; }
.flaticon-crack:before { content: "\f18b"; }
.flaticon-geological:before { content: "\f18c"; }
.flaticon-broken-house:before { content: "\f18d"; }
.flaticon-cracked-smartphone:before { content: "\f18e"; }
.flaticon-building:before { content: "\f18f"; }
.flaticon-foundation:before { content: "\f190"; }
.flaticon-crane:before { content: "\f191"; }
.flaticon-hurricane:before { content: "\f192"; }
.flaticon-broken-roof:before { content: "\f193"; }
.flaticon-hurricane-1:before { content: "\f194"; }
.flaticon-architecture-and-city:before { content: "\f195"; }
.flaticon-hurricane-2:before { content: "\f196"; }
.flaticon-column:before { content: "\f197"; }
.flaticon-columns:before { content: "\f198"; }
.flaticon-pendulum:before { content: "\f199"; }
.flaticon-ruins:before { content: "\f19a"; }
.flaticon-formula-1:before { content: "\f19b"; }
.flaticon-ruins-1:before { content: "\f19c"; }
.flaticon-sigma:before { content: "\f19d"; }
.flaticon-friction:before { content: "\f19e"; }
.flaticon-physics:before { content: "\f19f"; }
.flaticon-monitor:before { content: "\f1a0"; }
.flaticon-computer:before { content: "\f1a1"; }
.flaticon-3d-printing-software:before { content: "\f1a2"; }
.flaticon-engineering:before { content: "\f1a3"; }
.flaticon-3d-printer:before { content: "\f1a4"; }
.flaticon-mechanics:before { content: "\f1a5"; }
.flaticon-selection:before { content: "\f1a6"; }
.flaticon-mesh:before { content: "\f1a7"; }
.flaticon-mesh-1:before { content: "\f1a8"; }
.flaticon-buildings:before { content: "\f1a9"; }
.flaticon-appartment:before { content: "\f1aa"; }
.flaticon-home:before { content: "\f1ab"; }
.flaticon-office-building:before { content: "\f1ac"; }
.flaticon-measure:before { content: "\f1ad"; }
.flaticon-metal:before { content: "\f1ae"; }
.flaticon-flow:before { content: "\f1af"; }
.flaticon-column-stability-thick:before { content: "\f1b0"; }
.flaticon-plastic-analysis:before { content: "\f1b1"; }
.flaticon-bridge-6:before { content: "\f1b2"; }


/*This section of code must be added to the flaticon css whenever more icons 
are added so that the flaticon styling matches that of the font-awesome icons in the navbars*/
.flaticon-party:before{
  font-family: Flaticon;
        font-size: 15px;
font-style: normal;
margin-left: 0px;
}

.flaticon-party{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
} 
/*---------------------------------------------------------*/