
/* ALL */

    .outer-wrapper {
    width: 80%;
    margin: 50px auto;
    }

    .s-type-1 .s-control {
    position: absolute;
    bottom: 18px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    transition-timing-function: ease-out;
    }
    .s-type-1 .s-control > label[class^="s-c-"] {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #999;
    background-color: #efefe8;
    cursor: pointer;
    }
    .s-type-1 .s-nav label {
    display: none;
    position: absolute;
    top: 50%;
    padding: 5px 10px;
    transform: translateY(-50%);
    cursor: pointer;
    }
    .s-type-1 .s-nav label::before, .s-type-1 .s-nav label::after {
    content: "";
    display: block;
    width: 8px;
    height: 24px;
    background-color: #fff;
    }
    .s-type-1 .s-nav label::before {
    margin-bottom: -12px;
    }
    .s-type-1 .s-nav label.left {
    left: 20px;
    }
    .s-type-1 .s-nav label.left::before {
    transform: rotate(45deg);
    }
    .s-type-1 .s-nav label.left::after {
    transform: rotate(-45deg);
    }
    .s-type-1 .s-nav label.right {
    right: 20px;
    }
    .s-type-1 .s-nav label.right::before {
    transform: rotate(-45deg);
    }
    .s-type-1 .s-nav label.right::after {
    transform: rotate(45deg);
    }
    .s-type-1 #s-1:checked ~ .s-content {
    transform: translateX(0%);
    }
    .s-type-1 #s-1:checked ~ .s-control .s-c-1 {
    background-color: #333;
    }
    .s-type-1 #s-1:checked ~ .s-nav .s-nav-1 {
    display: block;
    }
    .s-type-1 #s-2:checked ~ .s-content {
    transform: translateX(-20%);
    }
    .s-type-1 #s-2:checked ~ .s-control .s-c-2 {
    background-color: #333;
    }
    .s-type-1 #s-2:checked ~ .s-nav .s-nav-2 {
    display: block;
    }
    .s-type-1 #s-3:checked ~ .s-content {
    transform: translateX(-40%);
    }
    .s-type-1 #s-3:checked ~ .s-control .s-c-3 {
    background-color: #333;
    }
    .s-type-1 #s-3:checked ~ .s-nav .s-nav-3 {
    display: block;
    }
    .s-type-1 #s-4:checked ~ .s-content {
    transform: translateX(-60%);
    }
    .s-type-1 #s-4:checked ~ .s-control .s-c-4 {
    background-color: #333;
    }
    .s-type-1 #s-4:checked ~ .s-nav .s-nav-4 {
    display: block;
    }
    .s-type-1 #s-5:checked ~ .s-content {
    transform: translateX(-80%);
    }
    .s-type-1 #s-5:checked ~ .s-control .s-c-5 {
    background-color: #333;
    }
    .s-type-1 #s-5:checked ~ .s-nav .s-nav-5 {
    display: block;
    }


  /* Responsive layout - when the screen is less than 475px wide, reduce width/height of xp slideshow*/

  @media screen and (max-width: 475px){

    .s-wrap-ex-1, .s-wrap-ex-2, .s-wrap-ex-3, .s-wrap-ex-4,
    .s-wrap-ex-5, .s-wrap-ex-6, .s-wrap-ex-7, .s-wrap-ex-8,
    .s-wrap-ex-9, .s-wrap-ex-10, .s-wrap-ex-11, .s-wrap-ex-12,
    .s-wrap-ed-1, .s-wrap-ed-2, .s-wrap-ed-3, .s-wrap-ed-4,
    .s-wrap-ed-5, .s-wrap-ed-6, .s-wrap-ed-7, .s-wrap-ed-8,
    .s-wrap-ed-9, .s-wrap-ed-10, .s-wrap-ed-11, .s-wrap-ed-12{
      height: 237.5px!important;
      width: 285px!important;
    }

    .s-type-2-ex-1 .s-content, 
    .s-type-2-ex-2 .s-content,     
    .s-type-2-ex-3 .s-content, 
    .s-type-2-ex-4 .s-content,     
    .s-type-2-ex-5 .s-content, 
    .s-type-2-ex-6 .s-content,     
    .s-type-2-ex-7 .s-content, 
    .s-type-2-ex-8 .s-content,     
    .s-type-2-ex-9 .s-content, 
    .s-type-2-ex-10 .s-content,     
    .s-type-2-ex-11 .s-content, 
    .s-type-2-ex-12 .s-content 
    .s-type-2-ed-1 .s-content, 
    .s-type-2-ed-2 .s-content,     
    .s-type-2-ed-3 .s-content, 
    .s-type-2-ed-4 .s-content,     
    .s-type-2-ed-5 .s-content, 
    .s-type-2-ed-6 .s-content,     
    .s-type-2-ed-7 .s-content, 
    .s-type-2-ed-8 .s-content,     
    .s-type-2-ed-9 .s-content, 
    .s-type-2-ed-10 .s-content,     
    .s-type-2-ed-11 .s-content, 
    .s-type-2-ed-12 .s-content {

      height: 237.5px!important;

    }









    
  }


  








/*------------------------------------------------------*/
/*--------------------ed-slideshow-1--------------------*/
/*------------------------------------------------------*/
/*--------------------Residential Life------------------*/
/*------------------------------------------------------*/

    /* ed-slideshow 1 (Larson) */
    .s-wrap-ed-1 {
        width: 100%;
        /* margin-bottom: 50px; */
        /* padding-bottom: 55%; */
        /* margin: 15px; */
        position: relative;
        /* border: 10px solid #fff; */
        background-color: #efefe8;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        border-radius: 3%;
        /* max-width: 450px; */ /*I don't think I need this?*/
        /* max-height: 375px; */ /*I don't think I need this?*/

        height: 216.6666666px;
        width: 260px;
        margin: 0 auto;





    }
    .s-wrap-ed-1 > input {
        display: none;
    }
    .s-wrap-ed-1 .s-content {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 300%; /* change based on number of photos = #photos times 100% */
        height: 100%;
        font-size: 0;
        list-style: none;
        transition: transform 1s;
    }
    .s-wrap-ed-1 .s-item {
        display: inline-block;
        width: 33.3333%;  /* change based on number of photos = 100% divided by # photos */
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .s-wrap-ed-1 .s-item-1 {
        background-image: url("../images/reslife/undergrad/slideshow/reslife-1.png");
    }
    .s-wrap-ed-1 .s-item-2 {
        background-image: url("../images/reslife/undergrad/slideshow/reslife-2.png");
    }
    .s-wrap-ed-1 .s-item-3 {
        background-image: url("../images/reslife/undergrad/slideshow/reslife-3.jpg");
    }

    
    .s-type-2-ed-1 .s-content {
        animation: slider-animation-ed-1 15s ease-in-out infinite; 
        /*height: 216.6666666px; */
        }
    
    .s-type-2-ed-1 .s-content:hover {
        animation-play-state: paused;
    
        }
    
        @keyframes slider-animation-ed-1 {
        0%,
        18.6666666667% {
            transform: translateX(0%); /*img 1*/
        }
        33.3333333333%,
            52% {
            transform: translateX(-33.3333%); /*img 2*/
        }
        66.6667%,
            85.3333% {
            transform: translateX(-66.6667%); /*img 3*/
        }
        }



/*------------------------------------------------------*/
/*--------------------ed-slideshow-2--------------------*/
/*------------------------------------------------------*/
/*----------------------Chi Epsilon---------------------*/
/*------------------------------------------------------*/

    /* ed-slideshow 2 (XE) */
    .s-wrap-ed-2 {
        width: 100%;
        /* margin-bottom: 50px; */
        /* padding-bottom: 55%; */
        /* margin: 15px; */
        position: relative;
        /* border: 10px solid #fff; */
        background-color: #efefe8;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        border-radius: 3%;
        /* max-width: 450px; */ /*I don't think I need this?*/
        /* max-height: 375px; */ /*I don't think I need this?*/

        height: 216.6666666px;
        width: 260px;
        margin: 0 auto;





    }
    .s-wrap-ed-2 > input {
        display: none;
    }
    .s-wrap-ed-2 .s-content {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 300%; /* change based on number of photos = #photos times 100% */
        height: 100%;
        font-size: 0;
        list-style: none;
        transition: transform 1s;
    }
    .s-wrap-ed-2 .s-item {
        display: inline-block;
        width: 33.3333%;  /* change based on number of photos = 100% divided by # photos */
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .s-wrap-ed-2 .s-item-1 {
        background-image: url("../images/xe/slideshow/xe-1.png");
    }
    .s-wrap-ed-2 .s-item-2 {
        background-image: url("../images/xe/slideshow/xe-2.jpg");
    }
    .s-wrap-ed-2 .s-item-3 {
        background-image: url("../images/xe/slideshow/xe-3.jpg");
    }

    
    .s-type-2-ed-2 .s-content {
        animation: slider-animation-ed-2 15s ease-in-out infinite; 
        height: 216.6666666px; 
        }
    
    .s-type-2-ed-2 .s-content:hover {
        animation-play-state: paused;
    
        }
    
        @keyframes slider-animation-ed-2 {
        0%,
        18.6666666667% {
            transform: translateX(0%); /*img 1*/
        }
        33.3333333333%,
            52% {
            transform: translateX(-33.3333%); /*img 2*/
        }
        66.6667%,
            85.3333% {
            transform: translateX(-66.6667%); /*img 3*/
        }
        }


/*----------------------------------------------------*/
/*--------------------ed-slideshow-3------------------*/
/*----------------------------------------------------*/
/*----------------------Civil Lab---------------------*/
/*----------------------------------------------------*/

    /* ed-slideshow 3 (Civil) */
    .s-wrap-ed-3 {
        width: 100%;
        /* margin-bottom: 50px; */
        /* padding-bottom: 55%; */
        /* margin: 15px; */
        position: relative;
        /* border: 10px solid #fff; */
        background-color: #efefe8;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        border-radius: 3%;
        /* max-width: 450px; */ /*I don't think I need this?*/
        /* max-height: 375px; */ /*I don't think I need this?*/

        height: 216.6666666px;
        width: 260px;
        margin: 0 auto;





    }
    .s-wrap-ed-3 > input {
        display: none;
    }
    .s-wrap-ed-3 .s-content {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 300%; /* change based on number of photos = #photos times 100% */
        height: 100%;
        font-size: 0;
        list-style: none;
        transition: transform 1s;
    }
    .s-wrap-ed-3 .s-item {
        display: inline-block;
        width: 33.3333%;  /* change based on number of photos = 100% divided by # photos */
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .s-wrap-ed-3 .s-item-1 {
        background-image: url("../images/civil-lab/slideshow/civil-1.jpg");
    }
    .s-wrap-ed-3 .s-item-2 {
        background-image: url("../images/civil-lab/slideshow/civil-2.jpg");
    }
    .s-wrap-ed-3 .s-item-3 {
        background-image: url("../images/civil-lab/slideshow/civil-3.jpg");
    }

    
    .s-type-2-ed-3 .s-content {
        animation: slider-animation-ed-3 15s ease-in-out infinite; 
        height: 216.6666666px; 
        }
    
    .s-type-2-ed-3 .s-content:hover {
        animation-play-state: paused;
    
        }
    
        @keyframes slider-animation-ed-3 {
        0%,
        18.6666666667% {
            transform: translateX(0%); /*img 1*/
        }
        33.3333333333%,
            52% {
            transform: translateX(-33.3333%); /*img 2*/
        }
        66.6667%,
            85.3333% {
            transform: translateX(-66.6667%); /*img 3*/
        }
        }




/*------------------------------------------------------*/
/*--------------------xp-slideshow-1--------------------*/
/*------------------------------------------------------*/
/*-------------------Larson Engineering-----------------*/
/*------------------------------------------------------*/

    /* xp-slideshow 1 (Larson) */
    .s-wrap-ex-1 {
        width: 100%;
        /* margin-bottom: 50px; */
        /* padding-bottom: 55%; */
        margin: 15px;
        position: relative;
        /* border: 10px solid #fff; */
        background-color: #efefe8;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        border-radius: 3%;
        max-width: 450px;
        max-height: 375px;
        height: 375px;
    }
    .s-wrap-ex-1 > input {
        display: none;
    }
    .s-wrap-ex-1 .s-content {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 500%;
        height: 100%;
        font-size: 0;
        list-style: none;
        transition: transform 1s;
    }
    .s-wrap-ex-1 .s-item {
        display: inline-block;
        width: 20%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .s-wrap-ex-1 .s-item-1 {
        background-image: url("../images/larson/slideshow/larson-1.jpg");
    }
    .s-wrap-ex-1 .s-item-2 {
        background-image: url("../images/larson/slideshow/larson-2.jpg");
    }
    .s-wrap-ex-1 .s-item-3 {
        background-image: url("../images/larson/slideshow/larson-3.jpg");
    }
    .s-wrap-ex-1 .s-item-4 {
        background-image: url("../images/larson/slideshow/larson-4.jpg");         
    }
    .s-wrap-ex-1 .s-item-5 {
        background-image: url("../images/larson/slideshow/larson-5.gif");
    }
    
    .s-type-2-ex-1 .s-content {
        animation: slider-animation-ex-1 25s ease-in-out infinite; 
        height: 375px; /*I added this, not sure if needed or not */
        }
    
    .s-type-2-ex-1 .s-content:hover {
        animation-play-state: paused;
    
        }
    
        @keyframes slider-animation-ex-1 {
        0%,
            11.2% {
            transform: translateX(0%); /*img 1*/
        }
        20%,
            31.2% {
            transform: translateX(-20%); /*img 2*/
        }
        40%,
            51.2% {
            transform: translateX(-40%); /*img 3*/
        }
        60%,
            71.2% {
            transform: translateX(-60%); /*img 4*/
        }
        80%,
            91.2% {
            transform: translateX(-80%); /*img 5*/
        }
        }





/*------------------------------------------------------*/
/*--------------------xp-slideshow-2--------------------*/
/*------------------------------------------------------*/
/*----------------Great Rivers Greenway-----------------*/
/*------------------------------------------------------*/

    /* xp-slideshow 2 (GRG) */
    .s-wrap-ex-2 {
        width: 100%;
        /* margin-bottom: 50px; */
        /* padding-bottom: 55%; */
        margin: 15px;
        position: relative;
        /* border: 10px solid #fff; */
        background-color: #efefe8;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        border-radius: 3%;
        max-width: 450px;
        max-height: 375px;
        height: 375px;
    }
    .s-wrap-ex-2 > input {
        display: none;
    }
    .s-wrap-ex-2 .s-content {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 500%;
        height: 100%;
        font-size: 0;
        list-style: none;
        transition: transform 1s;
    }
    .s-wrap-ex-2 .s-item {
        display: inline-block;
        width: 20%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .s-wrap-ex-2 .s-item-1 {
        background-image: url("../images/grg/slideshow/grg-1.jpg");
    }
    .s-wrap-ex-2 .s-item-2 {
        background-image: url("../images/grg/slideshow/grg-2.jpg");
    }
    .s-wrap-ex-2 .s-item-3 {
        background-image: url("../images/grg/slideshow/grg-3.jpg");
    }
    .s-wrap-ex-2 .s-item-4 {
        background-image: url("../images/grg/slideshow/grg-4.jpg");         
    }
    .s-wrap-ex-2 .s-item-5 {
        background-image: url("../images/grg/slideshow/grg-5.gif");
    }
    
    .s-type-2-ex-2 .s-content {
        animation: slider-animation-ex-2 25s ease-in-out infinite; 
        height: 375px; /*I added this, not sure if needed or not */
        }
    
    .s-type-2-ex-2 .s-content:hover {
        animation-play-state: paused;
    
        }
    
        @keyframes slider-animation-ex-2 {
        0%,
            11.2% {
            transform: translateX(0%); /*img 1*/
        }
        20%,
            31.2% {
            transform: translateX(-20%); /*img 2*/
        }
        40%,
            51.2% {
            transform: translateX(-40%); /*img 3*/
        }
        60%,
            71.2% {
            transform: translateX(-60%); /*img 4*/
        }
        80%,
            91.2% {
            transform: translateX(-80%); /*img 5*/
        }
        }






/*------------------------------------------------------*/
/*--------------------xp-slideshow-3--------------------*/
/*------------------------------------------------------*/
/*-----------------Concrete Strategies------------------*/
/*------------------------------------------------------*/

    /* xp-slideshow 3 (CSI) */
    .s-wrap-ex-3 {
        width: 100%;
        /* margin-bottom: 50px; */
        /* padding-bottom: 55%; */
        margin: 15px;
        position: relative;
        /* border: 10px solid #fff; */
        background-color: #efefe8;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        border-radius: 3%;
        max-width: 450px;
        max-height: 375px;
        height: 375px;
    }
    .s-wrap-ex-3 > input {
        display: none;
    }
    .s-wrap-ex-3 .s-content {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 500%;
        height: 100%;
        font-size: 0;
        list-style: none;
        transition: transform 1s;
    }
    .s-wrap-ex-3 .s-item {
        display: inline-block;
        width: 20%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .s-wrap-ex-3 .s-item-1 {
        background-image: url("../images/csi/slideshow/csi-1.jpg");
    }
    .s-wrap-ex-3 .s-item-2 {
        background-image: url("../images/csi/slideshow/csi-2.jpg");
    }
    .s-wrap-ex-3 .s-item-3 {
        background-image: url("../images/csi/slideshow/csi-3.jpg");
    }
    .s-wrap-ex-3 .s-item-4 {
        background-image: url("../images/csi/slideshow/csi-4.jpg");         
    }
    .s-wrap-ex-3 .s-item-5 {
        background-image: url("../images/csi/slideshow/csi-5.jpg");
    }
    
    .s-type-2-ex-3 .s-content {
        animation: slider-animation-ex-3 25s ease-in-out infinite; 
        height: 375px; /*I added this, not sure if needed or not */
        }
    
    .s-type-2-ex-3 .s-content:hover {
        animation-play-state: paused;
    
        }
    
        @keyframes slider-animation-ex-3 {
        0%,
            11.2% {
            transform: translateX(0%); /*img 1*/
        }
        20%,
            31.2% {
            transform: translateX(-20%); /*img 2*/
        }
        40%,
            51.2% {
            transform: translateX(-40%); /*img 3*/
        }
        60%,
            71.2% {
            transform: translateX(-60%); /*img 4*/
        }
        80%,
            91.2% {
            transform: translateX(-80%); /*img 5*/
        }
        }







/*------------------------------------------------------*/
/*--------------------xp-slideshow-4--------------------*/
/*------------------------------------------------------*/
/*-----------------S&T Residential Life-----------------*/
/*------------------------------------------------------*/

    /* xp-slideshow 4 (Reslife) */
    .s-wrap-ex-4 {
        width: 100%;
        /* margin-bottom: 50px; */
        /* padding-bottom: 55%; */
        margin: 15px;
        position: relative;
        /* border: 10px solid #fff; */
        background-color: #efefe8;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        border-radius: 3%;
        max-width: 450px;
        max-height: 375px;
        height: 375px;
    }
    .s-wrap-ex-4 > input {
        display: none;
    }
    .s-wrap-ex-4 .s-content {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 500%;
        height: 100%;
        font-size: 0;
        list-style: none;
        transition: transform 1s;
    }
    .s-wrap-ex-4 .s-item {
        display: inline-block;
        width: 20%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .s-wrap-ex-4 .s-item-1 {
        background-image: url("../images/reslife/slideshow/reslife-1.jpg");
    }
    .s-wrap-ex-4 .s-item-2 {
        background-image: url("../images/reslife/slideshow/reslife-2.jpg");
    }
    .s-wrap-ex-4 .s-item-3 {
        background-image: url("../images/reslife/slideshow/reslife-3.jpg");
    }
    .s-wrap-ex-4 .s-item-4 {
        background-image: url("../images/reslife/slideshow/reslife-4.jpg");              
    }
    .s-wrap-ex-4 .s-item-5 {
        background-image: url("../images/reslife/slideshow/reslife-5.jpg");
    }
    
    .s-type-2-ex-4 .s-content {
        animation: slider-animation-ex-4 25s ease-in-out infinite; 
        height: 375px; /*I added this, not sure if needed or not */
        }
    
    .s-type-2-ex-4 .s-content:hover {
        animation-play-state: paused;
    
        }
    
        @keyframes slider-animation-ex-4 {
        0%,
            11.2% {
            transform: translateX(0%); /*img 1*/
        }
        20%,
            31.2% {
            transform: translateX(-20%); /*img 2*/
        }
        40%,
            51.2% {
            transform: translateX(-40%); /*img 3*/
        }
        60%,
            71.2% {
            transform: translateX(-60%); /*img 4*/
        }
        80%,
            91.2% {
            transform: translateX(-80%); /*img 5*/
        }
        }






/*------------------------------------------------------*/
/*--------------------xp-slideshow-5--------------------*/
/*------------------------------------------------------*/
/*---------------The Community Partnership--------------*/
/*------------------------------------------------------*/

    /* xp-slideshow 5 (TCP) */
        .s-wrap-ex-5 {
            width: 100%;
            /* margin-bottom: 50px; */
            /* padding-bottom: 55%; */
            margin: 15px;
            position: relative;
            /* border: 10px solid #fff; */
            background-color: #efefe8;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            border-radius: 3%;
            max-width: 450px;
            max-height: 375px;
            height: 375px;
        }
        .s-wrap-ex-5 > input {
            display: none;
        }
        .s-wrap-ex-5 .s-content {
            margin: 0;
            padding: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 500%;
            height: 100%;
            font-size: 0;
            list-style: none;
            transition: transform 1s;
        }
        .s-wrap-ex-5 .s-item {
            display: inline-block;
            width: 20%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .s-wrap-ex-5 .s-item-1 {
            background-image: url("../images/tcp/slideshow/tcp-1.jpg");
        }
        .s-wrap-ex-5 .s-item-2 {
            background-image: url("../images/tcp/slideshow/tcp-2.jpg");
        }
        .s-wrap-ex-5 .s-item-3 {
            background-image: url("../images/tcp/slideshow/tcp-3.jpg");
        }
        .s-wrap-ex-5 .s-item-4 {
            background-image: url("../images/tcp/slideshow/tcp-4.jpg");              
        }
        .s-wrap-ex-5 .s-item-5 {
            background-image: url("../images/tcp/slideshow/tcp-5.jpg");
        }
        
        .s-type-2-ex-5 .s-content {
            animation: slider-animation-ex-5 25s ease-in-out infinite; 
            height: 375px; /*I added this, not sure if needed or not */
            }
            .s-type-2-ex-5 .s-content:hover {
            animation-play-state: paused;
        
            }
        
            @keyframes slider-animation-ex-5 {
            0%,
                11.2% {
                transform: translateX(0%); /*img 1*/
            }
            20%,
                31.2% {
                transform: translateX(-20%); /*img 2*/
            }
            40%,
                51.2% {
                transform: translateX(-40%); /*img 3*/
            }
            60%,
                71.2% {
                transform: translateX(-60%); /*img 4*/
            }
            80%,
                91.2% {
                transform: translateX(-80%); /*img 5*/
            }
            }