$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?04f0db8e690943248ca8cf5663e8ef53") format("truetype"),
url("./flaticon.woff?04f0db8e690943248ca8cf5663e8ef53") format("woff"),
url("./flaticon.woff2?04f0db8e690943248ca8cf5663e8ef53") format("woff2"),
url("./flaticon.eot?04f0db8e690943248ca8cf5663e8ef53#iefix") format("embedded-opentype"),
url("./flaticon.svg?04f0db8e690943248ca8cf5663e8ef53#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "3d-model": "\f101",
    "structure": "\f102",
    "sustainable": "\f103",
);

.flaticon-3d-model:before {
    content: map-get($flaticon-map, "3d-model");
}
.flaticon-structure:before {
    content: map-get($flaticon-map, "structure");
}
.flaticon-sustainable:before {
    content: map-get($flaticon-map, "sustainable");
}
