@font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.eot");
    src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
         url("./Flaticon.woff2") format("woff2"),
         url("./Flaticon.woff") format("woff"),
         url("./Flaticon.ttf") format("truetype"),
         url("./Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: "Flaticon";
      src: url("./Flaticon.svg#Flaticon") format("svg");
    }
  }
  
  [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
  [class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;
          font-size: 20px;
  font-style: normal;
  }
  

.flaticon-3d-model-1:before {
    content: "\f101";
}
.flaticon-3d-model:before {
    content: "\f102";
}
.flaticon-3d-modeling:before {
    content: "\f103";
}
.flaticon-3d-printer:before {
    content: "\f104";
}
.flaticon-3d-printing-software:before {
    content: "\f105";
}
.flaticon-analytics-1:before {
    content: "\f106";
}
.flaticon-analytics:before {
    content: "\f107";
}
.flaticon-appartment:before {
    content: "\f108";
}
.flaticon-architecture-and-city:before {
    content: "\f109";
}
.flaticon-bauschinger-effect:before {
    content: "\f10a";
}
.flaticon-beam-1:before {
    content: "\f10b";
}
.flaticon-beam-2:before {
    content: "\f10c";
}
.flaticon-beam-3:before {
    content: "\f10d";
}
.flaticon-beam-4:before {
    content: "\f10e";
}
.flaticon-beam-5:before {
    content: "\f10f";
}
.flaticon-beam-6:before {
    content: "\f110";
}
.flaticon-beam:before {
    content: "\f111";
}
.flaticon-bibi-heybat-mosque-1:before {
    content: "\f112";
}
.flaticon-bibi-heybat-mosque:before {
    content: "\f113";
}
.flaticon-block:before {
    content: "\f114";
}
.flaticon-board-1:before {
    content: "\f115";
}
.flaticon-board:before {
    content: "\f116";
}
.flaticon-brick-wall:before {
    content: "\f117";
}
.flaticon-brick:before {
    content: "\f118";
}
.flaticon-bricklayer:before {
    content: "\f119";
}
.flaticon-brickwall-1:before {
    content: "\f11a";
}
.flaticon-brickwall:before {
    content: "\f11b";
}
.flaticon-brickwork:before {
    content: "\f11c";
}
.flaticon-bridge-1:before {
    content: "\f11d";
}
.flaticon-bridge-2:before {
    content: "\f11e";
}
.flaticon-bridge-3:before {
    content: "\f11f";
}
.flaticon-bridge-4:before {
    content: "\f120";
}
.flaticon-bridge-5:before {
    content: "\f121";
}
.flaticon-bridge-6:before {
    content: "\f122";
}
.flaticon-bridge:before {
    content: "\f123";
}
.flaticon-bridges:before {
    content: "\f124";
}
.flaticon-broken-house:before {
    content: "\f125";
}
.flaticon-broken-roof:before {
    content: "\f126";
}
.flaticon-building:before {
    content: "\f127";
}
.flaticon-buildings:before {
    content: "\f128";
}
.flaticon-burj-khalifa:before {
    content: "\f129";
}
.flaticon-business-and-finance:before {
    content: "\f12a";
}
.flaticon-business-plan:before {
    content: "\f12b";
}
.flaticon-business:before {
    content: "\f12c";
}
.flaticon-can:before {
    content: "\f12d";
}
.flaticon-castle-1:before {
    content: "\f12e";
}
.flaticon-celebration:before {
    content: "\f12f";
}
.flaticon-cement-truck:before {
    content: "\f130";
}
.flaticon-chisel:before {
    content: "\f131";
}
.flaticon-city-hall:before {
    content: "\f132";
}
.flaticon-ciudad-mitad-del-mundo:before {
    content: "\f133";
}
.flaticon-clipboard-1:before {
    content: "\f134";
}
.flaticon-clipboard:before {
    content: "\f135";
}
.flaticon-cold-formed-steel:before {
    content: "\f136";
}
.flaticon-coliseum-1:before {
    content: "\f137";
}
.flaticon-coliseum-2:before {
    content: "\f138";
}
.flaticon-coliseum:before {
    content: "\f139";
}
.flaticon-column-stability-thick-777:before {
    content: "\f13a";
}
.flaticon-column:before {
    content: "\f13b";
}
.flaticon-columns:before {
    content: "\f13c";
}
.flaticon-compass:before {
    content: "\f13d";
}
.flaticon-computer:before {
    content: "\f13e";
}
.flaticon-concrete-1:before {
    content: "\f13f";
}
.flaticon-concrete-mixer-1:before {
    content: "\f140";
}
.flaticon-concrete-mixer:before {
    content: "\f141";
}
.flaticon-concrete:before {
    content: "\f142";
}
.flaticon-confetti:before {
    content: "\f143";
}
.flaticon-construction:before {
    content: "\f144";
}
.flaticon-coronavirus:before {
    content: "\f145";
}
.flaticon-crack:before {
    content: "\f146";
}
.flaticon-cracked-smartphone:before {
    content: "\f147";
}
.flaticon-crane:before {
    content: "\f148";
}
.flaticon-diagram:before {
    content: "\f149";
}
.flaticon-earthquake-1:before {
    content: "\f14a";
}
.flaticon-earthquake-2:before {
    content: "\f14b";
}
.flaticon-earthquake-3:before {
    content: "\f14c";
}
.flaticon-earthquake-4:before {
    content: "\f14d";
}
.flaticon-earthquake-5:before {
    content: "\f14e";
}
.flaticon-earthquake-6:before {
    content: "\f14f";
}
.flaticon-earthquake-7:before {
    content: "\f150";
}
.flaticon-earthquake:before {
    content: "\f151";
}
.flaticon-edit:before {
    content: "\f152";
}
.flaticon-education:before {
    content: "\f153";
}
.flaticon-eiffel-tower:before {
    content: "\f154";
}
.flaticon-elegant-antique-building-shape-with-columns:before {
    content: "\f155";
}
.flaticon-empire-state-building:before {
    content: "\f156";
}
.flaticon-engineer-1:before {
    content: "\f157";
}
.flaticon-engineer-2:before {
    content: "\f158";
}
.flaticon-engineer:before {
    content: "\f159";
}
.flaticon-engineering:before {
    content: "\f15a";
}
.flaticon-equipment:before {
    content: "\f15b";
}
.flaticon-fireworks:before {
    content: "\f15c";
}
.flaticon-flow:before {
    content: "\f15d";
}
.flaticon-formula-1:before {
    content: "\f15e";
}
.flaticon-formula:before {
    content: "\f15f";
}
.flaticon-foundation:before {
    content: "\f160";
}
.flaticon-friction:before {
    content: "\f161";
}
.flaticon-galata-tower-1:before {
    content: "\f162";
}
.flaticon-galata-tower:before {
    content: "\f163";
}
.flaticon-gate-of-india:before {
    content: "\f164";
}
.flaticon-geological:before {
    content: "\f165";
}
.flaticon-graph:before {
    content: "\f166";
}
.flaticon-hagia-sophia-1:before {
    content: "\f167";
}
.flaticon-hagia-sophia:before {
    content: "\f168";
}
.flaticon-hammer-drill:before {
    content: "\f169";
}
.flaticon-heaven:before {
    content: "\f16a";
}
.flaticon-historic-theatre:before {
    content: "\f16b";
}
.flaticon-historical-building:before {
    content: "\f16c";
}
.flaticon-history:before {
    content: "\f16d";
}
.flaticon-home:before {
    content: "\f16e";
}
.flaticon-house:before {
    content: "\f16f";
}
.flaticon-hurricane-1:before {
    content: "\f170";
}
.flaticon-hurricane-2:before {
    content: "\f171";
}
.flaticon-hurricane:before {
    content: "\f172";
}
.flaticon-hyderabad-charminar:before {
    content: "\f173";
}
.flaticon-hypothesis:before {
    content: "\f174";
}
.flaticon-idea-1:before {
    content: "\f175";
}
.flaticon-idea:before {
    content: "\f176";
}
.flaticon-knowledge:before {
    content: "\f177";
}
.flaticon-kremlin:before {
    content: "\f178";
}
.flaticon-laptop-with-antique-historical-building-on-screen:before {
    content: "\f179";
}
.flaticon-laptop:before {
    content: "\f17a";
}
.flaticon-learning:before {
    content: "\f17b";
}
.flaticon-light-bulb-1:before {
    content: "\f17c";
}
.flaticon-light-bulb:before {
    content: "\f17d";
}
.flaticon-live-music:before {
    content: "\f17e";
}
.flaticon-mansory:before {
    content: "\f17f";
}
.flaticon-mapping-1:before {
    content: "\f180";
}
.flaticon-mapping:before {
    content: "\f181";
}
.flaticon-mask:before {
    content: "\f182";
}
.flaticon-maths:before {
    content: "\f183";
}
.flaticon-measure:before {
    content: "\f184";
}
.flaticon-mechanics:before {
    content: "\f185";
}
.flaticon-mesh-1:before {
    content: "\f186";
}
.flaticon-mesh:before {
    content: "\f187";
}
.flaticon-metal:before {
    content: "\f188";
}
.flaticon-millau-viaduct:before {
    content: "\f189";
}
.flaticon-model:before {
    content: "\f18a";
}
.flaticon-monitor:before {
    content: "\f18b";
}
.flaticon-monument:before {
    content: "\f18c";
}
.flaticon-mosque-1:before {
    content: "\f18d";
}
.flaticon-mosque-2:before {
    content: "\f18e";
}
.flaticon-mosque-3:before {
    content: "\f18f";
}
.flaticon-mosque:before {
    content: "\f190";
}
.flaticon-museum:before {
    content: "\f191";
}
.flaticon-obelisk-1:before {
    content: "\f192";
}
.flaticon-obelisk-2:before {
    content: "\f193";
}
.flaticon-obelisk:before {
    content: "\f194";
}
.flaticon-office-building:before {
    content: "\f195";
}
.flaticon-old-monument:before {
    content: "\f196";
}
.flaticon-parthenon:before {
    content: "\f197";
}
.flaticon-party:before {
    content: "\f198";
}
.flaticon-pendulum:before {
    content: "\f199";
}
.flaticon-physics:before {
    content: "\f19a";
}
.flaticon-plank:before {
    content: "\f19b";
}
.flaticon-problem-solving:before {
    content: "\f19c";
}
.flaticon-puzzle-1:before {
    content: "\f19d";
}
.flaticon-puzzle-pieces:before {
    content: "\f19e";
}
.flaticon-puzzle:before {
    content: "\f19f";
}
.flaticon-reinforced-concrete:before {
    content: "\f1a0";
}
.flaticon-report-1:before {
    content: "\f1a1";
}
.flaticon-report:before {
    content: "\f1a2";
}
.flaticon-ruins-1:before {
    content: "\f1a3";
}
.flaticon-ruins:before {
    content: "\f1a4";
}
.flaticon-saw:before {
    content: "\f1a5";
}
.flaticon-seismograph:before {
    content: "\f1a6";
}
.flaticon-selection:before {
    content: "\f1a7";
}
.flaticon-sigma:before {
    content: "\f1a8";
}
.flaticon-skill:before {
    content: "\f1a9";
}
.flaticon-space-needle:before {
    content: "\f1aa";
}
.flaticon-statue-of-liberty:before {
    content: "\f1ab";
}
.flaticon-structure:before {
    content: "\f1ac";
}
.flaticon-sustainable:before {
    content: "\f1ad";
}
.flaticon-taj-mahal:before {
    content: "\f1ae";
}
.flaticon-temple-of-heaven:before {
    content: "\f1af";
}
.flaticon-temple:before {
    content: "\f1b0";
}
.flaticon-tin:before {
    content: "\f1b1";
}
.flaticon-triangle:before {
    content: "\f1b2";
}
.flaticon-truck:before {
    content: "\f1b3";
}
.flaticon-university:before {
    content: "\f1b4";
}
.flaticon-virus-1:before {
    content: "\f1b5";
}
.flaticon-virus:before {
    content: "\f1b6";
}
.flaticon-wood-1:before {
    content: "\f1b7";
}
.flaticon-wood-board-1:before {
    content: "\f1b8";
}
.flaticon-wood-board:before {
    content: "\f1b9";
}
.flaticon-wood:before {
    content: "\f1ba";
}
.flaticon-work:before {
    content: "\f1bb";
}
.flaticon-worker:before {
    content: "\f1bc";
}

.flaticon-party:before{
    font-family: Flaticon;
    font-size: 16px; /*I originally had 15px, but I don't know why. I like 16px better for now.*/
    font-style: normal;
    margin-left: 0px;
  }
  
  .flaticon-party{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  } 
  
  .flaticon-virus-1:before{
    font-family: Flaticon;
    font-size: 16px; /*I originally had 15px, but I don't know why. I like 16px better for now.*/
    font-style: normal;
    margin-left: 0px;
  }
  
  .flaticon-virus-1{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  } 
  

